@include block('layout') {
  @include element('title') {
    color: $blue5;
    margin: 0;
  }
  @include element('header') {
    display: flex;
    padding: 2rem 1rem;
    align-items: center;
    background-color: $blue1;
  }
  @include element('link') {
    &:nth-child(1) { margin-right: auto }
    margin: 0 .5rem;
    &:hover { text-decoration: none; }
  }
}
