@include block('list-view') {
  max-width: 35rem;

  @include element('monster') {
    color: inherit;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
    border-radius: 5px;
    transition: 300ms transform ease,
                200ms box-shadow ease;
    &:hover {
      color: inherit;
      text-decoration: none;
      box-shadow: 1px 1px 4px $base6;
      transform: scale(1.02);
    }
    &:active {
      box-shadow: inset 1px 1px 4px $base6;
    }
  }

  @include element('image-box') {
    display: flex;
    width: 75px;
    height: 75px;
    margin: .5rem;
    align-content: center;
  }

  @include element('image') {
    margin: auto;
    transform: scale(1.5);
    image-rendering: pixelated;
  }

  @include element('name') {
    min-width: 6rem;
    color: $blue3;
    text-align: center;
  }

  @include element('stat') {
    min-width: 2rem;
    margin: 0 .5rem;
    text-align: center;
  }

  @include element('label') {
    color: $base6;
  }

  @include element('value') {
    font-size: 1.1rem;
    @include modifier('high') { color: $green }
    @include modifier('low') { color: $red }
  }

  @include element('family-title') {
    flex-basis: 100%;
    font-size: 2rem;
    color: $base6;
    text-align: center;
  }
}

@include block('sortable-list') {
  max-width: 35rem;

  @include element('stat') {
    min-width: 2rem;
    margin: 0 .5rem;
    text-align: center;
    input { height: 2rem; }
  }

  @include element('stat-sorter') {
    display: flex;
    justify-content: space-around;
    max-width: 35rem;
    margin: 0 auto;
    /*
      &:before {
        display: block;
        min-width: 6rem;
        margin-left: 1.5rem;
        margin-right: 75px;
        content: '';
      }
    */
  }

  @include element('field') {
    display: flex;
    flex-flow: column nowrap;
    input {
      background-color: $base7;
      box-shadow: inset 1px 1px 2px $base6;
      border-radius: 3px;
      padding: .5rem;
      color: $base2;
      border: none;
      max-width: 2.5rem;
      height: 2rem;
      &[disabled] { opacity: .5; }
    }
  }

  @include block('button-group') {
    align-self: flex-end;
  }
}
